body{
    background-color: #ffffff;
    font-size: 11px;
    height: 100%;
}
.panel-heading, .panel-body, .panel-footer{
    display: none;
}
.panel-primary{
    border: none;
}
.table > tbody > tr > td, .table > tbody > tr > th, .table > tfoot > tr > td, .table > tfoot > tr > th, .table > thead > tr > td, .table > thead > tr > th {
    border: none;

}
.borda_rodape{
    border-bottom: 1px solid #000;
}